html, body {
    height: 100%;
}

body {
    padding: 50px 0 0 0;
	background-color:#C25B56
}


.navbar-default {
	background-color: #343a42;
	border-color: #525564;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}


.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #343a42;
}

.navmenu-default, .navbar-default .navbar-offcanvas
{
	background-color: #343a42;
}

.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, .navmenu-default .navmenu-nav>li>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus {
	color: white;
	background-color:#696F8E;
}

.navmenu-default .navmenu-nav>.active>a, .navbar-default .navbar-offcanvas .navmenu-nav>.active>a, .navmenu-default .navmenu-nav>.active>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover, .navmenu-default .navmenu-nav>.active>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus {
    color: white;
    background-color: #c25b56;
}

.page-header {
    margin: 0;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block; /* force showing the toggle */
    }
}

.navmenu-nav .notification {
    background: #CCC;
    border-radius: 5px;
    padding-top: 3px;
    width: 26px;
    height: 25px;
    right: 0px;
    float: right;
    margin-top: -2px;
    text-align: center;
    font-weight: bold;
}

.navmenu-nav .notification-active {
    background: #f00;
    border-radius: 5px;
    padding-top: 3px;
    width: 26px;
    height: 25px;
    right: 0px;
    float: right;
    margin-top: -2px;
    text-align: center;
    font-weight: bold;
    color: white !important;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0,0,0,0);
}

    ::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.09);
    }

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid #F5F5F5;
    -webkit-border-radius: 100px;
}

    ::-webkit-scrollbar-thumb:active {
        background: rgba(0,0,0,0.61);
        -webkit-border-radius: 100px;
    }

@media only screen and (max-device-width : 730px) {
    .navmenu-fixed-left, .navmenu-fixed-right, .navbar-offcanvas {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-backface-visibility: hidden;
    }
}

.premiumRequired {
    display: none;
    position: fixed;
    z-index: 2005;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #5f5aa7;
    color: white;
}

.premiumRequired .content {
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.callContainer {
    display:none;
    position: fixed;
    z-index: 99999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #5f5aa7;
    overflow:hidden;
}

.callContainer .content {
    /*position: relative;*/
    overflow:hidden;
    width: 100%;
    height: 100%;
}

#callActions {
    position:absolute;
    bottom:10vh;
    width: 100%;
}

#overlay {
    display:none;
    position:absolute;
    bottom:20vh;
    width:100%;
}

#buttonAnswerCall {
    display: inline-block;
    margin-right: 10px;
    height:50px;
    width:50px;
    border-radius:25px;
    line-height:50px;
    background-color:#2bb021;
}

#buttonAnswerCall:hover {
    background-color:#33bb29;
}

#buttonAnswerCall:active {
    background-color:#229b19;
}

#buttonAnswerCall i, #buttonDeclineCall i {
    font-size:25px;
    line-height:50px;
    color:white;
}

#buttonDeclineCall {
    display: inline-block;
    height:50px;
    width:50px;
    border-radius:25px;
    line-height:50px;
    background-color:#f23636;
}

#buttonDeclineCall:hover {
    background-color:#fa3f3f;
}

#buttonDeclineCall:active {
    background-color:#eb2e2e;
}

#buttonToggleSpeakers, #buttonToggleMuteMic, #buttonToggleCamera, #buttonToggleMuteSound, #buttonToggleSwitchCamera {
    display: inline-block;
    margin-right: 10px;
    height:50px;
    width:50px;
    border-radius:25px;
    line-height:50px;
    background-color:#CCC;
}

#buttonToggleSpeakers:active, #buttonToggleSpeakers.active, #buttonToggleMuteMic:active, #buttonToggleMuteMic.active, #buttonToggleCamera:active, #buttonToggleCamera.active, #buttonToggleMuteSound:active, #buttonToggleMuteSound.active, #buttonToggleSwitchCamera:active, #buttonToggleSwitchCamera.active {
    background-color:#adaaa7;
}

#buttonToggleSpeakers i, #buttonToggleMuteMic i, #buttonToggleCamera i, #buttonToggleMuteSound i, #buttonToggleSwitchCamera i {
    font-size:25px;
    line-height:50px;
    color:black;
    text-align:center;
}

#otherInfos {
    width: 100%;
    height: 100%;
}

#otherInfos #callOtherAvatar{
    width:30vh;
    height:30vh;
    margin-top:10vh;
    border-radius:50%;
    border:3px solid white;
}
#otherInfos #callOtherName{
    color:white;
    text-shadow: 1px 0px 0px #000000;
    font-size:18px;
}
#otherInfos #callStatus{
    color:white;
    text-shadow: 1px 0px 0px #000000;
    font-size:15px;
}

#otherVideo {
    display:none;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

#map-canvas {
    width: 100%;
    height: 400px;
}

.boot {
    position: fixed;
    z-index: 2000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
	background-color:#788ea3;
}

.bootLogin, .bootRegister {
	margin-bottom:25px;
}

.bootContent {
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.boot .logo {
    margin-top: 50px;
    width: 50%;
    max-width: 300px;
}

.boot .copyright {
    color: white;
    position: relative;
    bottom: 0px;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.boot .btn {
    padding: 25px 0px;
    text-align: center;
    width: 95%;
    border-radius: 10px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #bfbebc 50%, #b2b1b0 51%, #b2b1b0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#bfbebc 50%,#b2b1b0 51%,#b2b1b0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#bfbebc 50%,#b2b1b0 51%,#b2b1b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b2b1b0',GradientType=0 );
    color: #5f5aa7;
    text-shadow: 1px 0px 0px #000000;
    font-weight: bold;
    font-size: 25px;
}

.boot .btn:active {
	background: #c7c2b8; /* Old browsers */
	background: -moz-linear-gradient(top, #c7c2b8 0%, #adaaa7 49%, #ada89f 50%, #b3abab 100%);
	background: -webkit-linear-gradient(top, #c7c2b8 0%,#adaaa7 49%,#ada89f 50%,#b3abab 100%);
	background: linear-gradient(to bottom, #c7c2b8 0%,#adaaa7 49%,#ada89f 50%,#b3abab 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c2b8', endColorstr='#b3abab',GradientType=0 );
}

.boot form {
    width: 95%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 25px;
    color: white;
}

.boot input[type=text], .boot input[type=password], .boot input[type=email] {
    border-radius: 10px;
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 10px 0px;
    color: black;
}

.boot select {
    border-radius: 10px;
    height: 44px;
    font-size: 16px;
	float:left;
    width: 32%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 10px 0px;
    color: black;
}

.boot form input[type=checkbox] {
    float: left;
}

.boot input[type=checkbox]:after {
    content: attr(value);
    margin: -2px 15px;
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;
    color: white;
}

.boot input[type=text]:hover, .boot input[type=password]:hover, .boot input[type=email]:hover, .boot select:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

.red {
    color: red;
}

.white {
    color: white;
}

.green {
    color: green;
}

.container {
    padding:0px;
}

.container, .homeContainer, .notificationsContainer, .messagesContainer, .searchContainer, .profileContainer, .settingsContainer, .accountContainer, .editProfileContainer, .paymentsContainer, .requestsContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.notificationsContainer, .messagesContainer, .searchContainer, .profileContainer, .settingsContainer, .accountContainer, .editProfileContainer, .paymentsContainer, .requestsContainer {
    display: none;
}

.homeContainer, .notificationsContainer, .messagesContainer, .searchContainer, .profileContainer, .settingsContainer, .accountContainer, .editProfileContainer, .paymentsContainer, .requestsContainer {
    padding:0px 5px;
}

/* Messages */
#messages-main .ms-user:after, #messages-main:after {
    clear: both;
}

.actions {
    list-style: none;
    padding: 0;
    z-index: 2;
    margin: 0;
}

    .actions > li {
        display: inline-block;
        vertical-align: baseline;
    }

        .actions > a, .actions > li > a {
            width: 30px;
            height: 30px;
            line-height: 35px;
            display: inline-block;
            text-align: center;
            position: relative;
        }

            .actions > a > i, .actions > li > a > i {
                -webkit-transition: color;
                -o-transition: color;
                transition: color;
                -webkit-transition-duration: 1.3s;
                transition-duration: 1.3s;
                color: #adadad;
                font-size: 20px;
            }

            .actions.open > a > i, .actions > a:hover > i, .actions > li.open > a > i, .actions > li > a:hover > i {
                color: #000;
            }

            .actions > a:before, .actions > li > a:before {
                left: 0;
                top: 0;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-transform: scale3d(0,0,0);
                -moz-transform: scale3d(0,0,0);
                -ms-transform: scale3d(0,0,0);
                -o-transform: scale3d(0,0,0);
                transform: scale3d(0,0,0);
                -webkit-transition: all;
                -o-transition: all;
                transition: all;
                -webkit-transition-duration: 250ms;
                transition-duration: 250ms;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;
                background-color: rgba(0,0,0,.1);
                z-index: 0;
                border-radius: 50%;
                opacity: 0;
                filter: alpha(opacity=0);
            }

.card, .listview, .listview .lv-item, .lv-header-alt {
    position: relative;
}

.actions > a:hover:before, .actions > li > a:hover:before {
    -webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.actions.open > a:before, .actions > li.open > a:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.actions.actions-alt > li.open > a > i, .actions.actions-alt > li > a > i, .actions.actions-alt > li > a > i:hover {
    color: #fff;
}

.actions.open {
    z-index: 3;
}

.line-wrap {
    width: 18px;
    height: 12px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    margin: 10px 20px;
}

    .line-wrap .line {
        width: 18px;
        height: 2px;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
    }

        .line-wrap .line.center {
            margin: 3px 0;
        }

.open .line-wrap {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

    .open .line-wrap .line.top {
        width: 12px;
        transform: translateX(8px) translateY(1px) rotate(45deg);
        -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
    }

    .open .line-wrap .line.bottom {
        width: 12px;
        transform: translateX(8px) translateY(-1px) rotate(-45deg);
        -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
    }

.listview:not(.lv-lg):not(.lv-message) .lv-item {
    padding: 12px 20px;
}

@media (min-width:480px) {
    .listview.lv-lg .lv-item {
        padding: 17px 35px 17px 25px;
    }
}

@media (max-width:767px) {
    .listview.lv-lg .lv-item {
        padding: 17px 35px 17px 20px;
    }
}

.listview.lv-lg .lv-item:hover {
    background-color: #FFFFDB;
}

.listview .lv-item {
    display: block;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

    .listview .lv-item .lv-small {
        font-size: 12px;
        color: #A9A9A9;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
    }

    .listview .lv-item .checkbox, .listview .lv-item.media {
        margin: 0;
    }

.lvh-search-close:hover {
    background: #333;
}

.lv-header-alt {
    background: #f8f8f8;
    padding: 15px;
}

    .lv-header-alt .lv-actions {
        z-index: 3;
        float: right;
        margin-top: 3px;
        position: relative;
    }

        .lv-header-alt .lv-actions > li > a {
            margin: 0 3px;
        }

.lvh-label {
    color: #818181;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 0 6px;
    line-height: 33px;
    vertical-align: middle;
}

.lv-footer {
    display: block;
    text-align: center;
    padding: 7px 10px 8px;
    border-top: 1px solid #F0F0F0;
    line-height: 100%;
    font-size: 11px;
    margin-top: 20px;
    color: #828282;
}

#messages-main .ms-user:after, #messages-main .ms-user:before, #messages-main:after, .#messages-main:before {
    content: " ";
    display: table;
}

.card {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-bottom: 30px;
}

#messages-main .ms-block {
    padding: 23px 20px 0;
}

#messages-main .ms-menu {
    position: absolute;
    left: 0;
    top: 0;
    background: #F8F8F8;
    border-right: 1px solid #EEE;
    padding-bottom: 50px;
    height: 100%;
    width: 240px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

#messages-main .ms-body {
    height: 100%;
}

#messages-main .ms-menu .lv-item.active {
    background: #fff;
}

#messages-main .ms-menu .lv-item:not(.active):hover {
    background: #F2F2F2;
    cursor: pointer;
}

@media (min-width:768px) {
    #messages-main .ms-body {
        padding-left: 240px;
    }

    #ms-menu-trigger {
        display: none;
    }
}

.lv-user {
    margin-top: -20px;
    height: calc(100% - 34px);
    overflow-y: auto;
}

@media (max-width:767px) {
    #messages-main .ms-menu {
        height: calc(100% - 58px);
        -webkit-transform: translate3d(-240px,58px,0);
        transform: translate3d(-240px,58px,0);
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: 1;
        overflow: hidden;
    }

        #messages-main .ms-menu.toggled {
            -webkit-transform: translate3d(0,58px,0);
            transform: translate3d(0,58px,0);
            opacity: 1;
            filter: alpha(opacity=100);
        }

    #messages-main .ms-body {
        overflow: hidden;
    }
}

#messages-main .ms-user > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
}

.lv-avatar, .lv-avatar > img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#messages-main .ms-user > div {
    overflow: hidden;
    padding: 7px 5px 7px 15px;
    font-size: 11px;
}

#messages-main #ms-compose {
    position: fixed;
    bottom: 120px;
    z-index: 1;
    right: 30px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

#ms-menu-trigger {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    margin: 1px 0 0 -7px;
}

    #ms-menu-trigger .line-wrap .line {
        background-color: #717171;
    }

.ms-body .lv-message {
    height: 100%;
}

.lv-message .lv-item {
    padding: 20px;
}

.lv-message .lv-body {
    height: calc(100% - (163px));
}

.lv-message .lv-item.right {
    text-align: right;
}

    .lv-message .lv-item.right .lv-avatar {
        margin-right: 0;
        margin-left: 15px;
    }

.lv-message .lv-item:not(.right) .ms-item {
    background-color: #f5f5f5;
    color: #7c7c7c;
    box-shadow: 0 1.5px .5px rgba(0,0,0,.13);
    white-space: pre-wrap;
}

.lv-message .lv-item.right .ms-item {
    background: #ecf0f1;
    box-shadow: 0 1.5px .5px rgba(0,0,0,.13);
    color: #7c7c7c;
    white-space: pre-wrap;
}

.lv-avatar {
    color: #FFF;
    text-align: center;
    line-height: 34px;
    font-size: 15px;
    margin-right: 15px;
    padding: 0 !important;
    text-transform: uppercase;
}

    .lv-avatar > img {
        vertical-align: top;
    }

.ms-item {
    padding: 13px 19px 15px;
    border-radius: 2px;
    display: inline-block;
}

@media (min-width:768px) {
    .ms-item {
        max-width: 70%;
    }
}

.ms-date {
    display: block;
    color: #B3B3B3;
    margin-top: 7px;
    margin-left: 3px;
}

    .ms-date > i {
        font-size: 14px;
        vertical-align: bottom;
        line-height: 100%;
    }

.ms-reply {
    background-color: #f5f5f5;
    position: relative;
    margin: 0 !important;
}

    .ms-reply textarea {
        width: 94%;
        margin-left: -25px;
        resize: none;
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        font-size: 15px;
        padding: 10px;
        font-style: normal;
        height: 45px;
    }

    .ms-reply button {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        height: 100%;
        width: 60px;
        font-size: 25px;
        background: #F5F5F5;
        color: #999;
    }

        .ms-reply button:hover {
            background: #f2f2f2;
            color: #7c7c7c;
        }

textarea:focus {
    outline: 0 !important;
    border-color: #719ECE;
}
/* HOME */
.homeContainer .lv-avatar {
    width: 50px;
    height: 50px;
    margin-left: -15px;
}

    .homeContainer .lv-avatar img {
        width: 50px;
        height: 50px;
    }

/* NOTIFICATIONS */
.notificationsContainer .row {
    height: calc(100% - 30px);
    margin-top: 10px;
}

.notificationsContainer .col-md-12, .notificationsContainer .panel-default {
    height: 100%;
}

.notificationsContainer .panel-body {
    height: calc(100% - 95px);
    overflow-y: auto;
}

.pagination a {
    color: #555;
}

.panel ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    height: 100% !important;
}

.news-item {
    padding: 4px 4px;
    margin: 0px;
    border-bottom: 1px dotted #555;
}
/* PROFILE */
.box.profile-info {
    margin: 10px;
    width: auto;
}

.bg-picture {
    position: relative;
    min-height: 300px;
    margin: -15px -15px 0px -15px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

    .bg-picture > .bg-picture-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dâ€¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
        background-image: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(0,0,0,.4) 100%);
        background-image: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(0,0,0,.4) 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(rgba(0,0,0,.4)));
        background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,.4) 100%);
    }

    .bg-picture > .meta.bottom {
        bottom: 10px;
    }

    .bg-picture > .meta {
        position: absolute;
        left: 0;
        right: 0;
    }

.box-layout {
    display: table !important;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

.m-r-15 {
    margin-right: 15px;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media-body {
    width: 10000px;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.m-t-10 {
    margin-top: 10px !important;
}

.text-white {
    color: #ffffff;
}

.h3, h3 {
    font-size: 24px;
}

.br-radius, .tiles, .tile-stats, .portlet {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.profile-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.nav-pills-custom-minimal {
    border-bottom: 1px solid #ccc;
}

    .nav-pills-custom-minimal > li > a {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        padding: 10px;
        border-top: 4px solid transparent;
        color: #696565;
    }

        .nav-pills-custom-minimal > li > a:hover, .nav-pills-custom-minimal > li > a:focus {
            background-color: transparent;
            color: #4f4c4c;
        }

    .nav-pills-custom-minimal > li.active > a,
    .nav-pills-custom-minimal > li.active > a:hover,
    .nav-pills-custom-minimal > li.active > a:focus {
        background-color: transparent;
        border-top-color: #ada4a4;
        color: #696565;
    }

    .nav-pills-custom-minimal > li + li {
        margin-left: 30px;
    }

@media screen and (max-width: 480px) {
    .nav-pills-custom-minimal > li + li {
        margin-left: 0;
    }
}

.nav-pills-custom-minimal.custom-minimal-bottom > li a {
    border-top: none;
    border-bottom: 4px solid transparent;
}

.nav-pills-custom-minimal.custom-minimal-bottom > li.active > a,
.nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:hover,
.nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:focus {
    border-bottom-color: #ada4a4;
}

.widget {
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 0 30px 0;
}

.widget-header {
    position: relative;
    min-height: 35px;
    background: #fff;
    color: #555;
    padding-left: 12px;
    text-align: right;
}

    .widget-header > .widget-caption {
        line-height: 34px;
        padding: 0;
        margin: 0;
        float: left;
        text-align: left;
        font-weight: 400 !important;
        font-size: 13px;
    }

.widget-body {
    background-color: #fbfbfb;
    padding: 12px;
}

    .widget-body.bordered-top {
        border-top: 3px solid #fff;
    }

.bordered-sky {
    border-color: #ada4a4 !important;
}

.gallery-list {
    list-style-type: none;
    margin: -5px -5px 15px;
    padding: 0;
}

    .gallery-list > li {
        float: left;
        width: 20%;
        padding: 5px;
    }

        .gallery-list > li .image-container {
            border-radius: 5px;
            background: #fff;
            position: relative;
            -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .07);
            box-shadow: 0 2px 0 rgba(0, 0, 0, .07);
        }

        .gallery-list > li .image {
            padding-top: 60%;
            position: relative;
            overflow: hidden;
            border-radius: 5px 5px 0 0;
        }

            .gallery-list > li .image img {
                max-width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1000;
            }

        .gallery-list > li .btn-list {
            position: absolute;
            left: 10px;
            top: 10px;
            right: 10px;
            z-index: 1020;
        }

        .gallery-list > li .info {
            padding: 8px 10px;
        }

            .gallery-list > li .info * {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .gallery-list > li .info h5 {
                margin: 0;
                font-size: 12px;
            }

.btn-azure, .btn-azure:focus {
    background-color: #ada4a4 !important;
    border-color: #ada4a4;
    color: #fff;
}

    .btn-azure:hover, .open .btn-azure.dropdown-toggle {
        background-color: #797979 !important;
        border-color: #dae2e4;
        color: #fff;
    }

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.btn .caret {
    margin-left: 0;
}

.no-padding {
    padding: 0px !important;
}

.n-border-top {
    border-top: none !important;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #ada4a4;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

    .box .form-control {
        border-radius: 0;
        box-shadow: none;
        border-color: #d2d6de;
    }

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.box-comments {
    background: #f7f7f7 !important;
}

    .box-comments .box-comment {
        padding: 8px 0;
        border-bottom: 1px solid #eee;
    }

.img-circle {
    border-radius: 20%;
}

.small-circle-img {
    width: 40px;
    height: 40px;
    float: left;
}

.img-sm, .box-comments .box-comment img, .user-block.user-block-sm img {
    width: 30px !important;
    height: 30px !important;
}

.box-comments .comment-text {
    margin-left: 40px;
    color: #555;
}

.box-comments .username {
    color: #444;
    display: block;
    font-weight: 600;
}

.img-sm, .img-md, .img-lg, .box-comments .box-comment img, .user-block.user-block-sm img {
    float: left;
}

    .img-sm + .img-push {
        margin-left: 40px;
    }

.box-form {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* PROFILE NEW COVER */
.cover {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

    .cover.profile {
        position: relative;
        background: #ffffff;
        border: 1px solid #e2e9e6;
    }

        .cover.profile .wrapper {
            position: relative;
            overflow: hidden;
            max-height: 250px;
            border-bottom: 1px solid #e2e9e6;
        }

            .cover.profile .wrapper .image {
                width: 100%;
                padding-right: 250px;
                overflow-y: hidden;
                position: relative;
            }

                .cover.profile .wrapper .image img {
                    width: 100%;
                }

            .cover.profile .wrapper .friends {
                list-style: none;
                display: inline-block;
                position: absolute;
                background: #fff;
                top: 0;
                right: 0;
                width: 250px;
                height: 250px;
                z-index: 2;
                margin-bottom: 0;
                padding: 0;
            }

                .cover.profile .wrapper .friends li {
                    float: left;
                    margin: 0;
                    width: 33.33%;
                }

                    .cover.profile .wrapper .friends li a {
                        display: block;
                        padding-left: 1px;
                        padding-top: 1px;
                    }

        .cover.profile .cover-info {
            position: relative;
            height: 57px;
        }

            .cover.profile .cover-info .avatar {
                position: absolute;
                display: inline-block;
                bottom: 0px;
                margin-bottom: 5px;
                left: 30px;
                z-index: 4;
            }

                .cover.profile .cover-info .avatar img {
                    width: 110px;
                    height: 110px;
                    border: 3px solid #fff;
                    border-radius: 10px;
                }

            .cover.profile .cover-info .name {
                position: absolute;
                left: 155px;
                bottom: 0px;
                margin-bottom: 65px;
                display: block;
                z-index: 3;
            }

                .cover.profile .cover-info .name a {
                    color: #fff;
                    font-size: 30px;
                    font-weight: 500;
                }

            .cover.profile .cover-info .cover-nav {
                position: absolute;
                bottom: 0;
                left: 140px;
                list-style: none;
                float: left;
                margin: 0;
                padding-left: 0;
            }

                .cover.profile .cover-info .cover-nav li {
                    float: left;
                    display: block;
                }

                .cover.profile .cover-info .cover-nav > li > a {
                    line-height: 20px;
                    padding: 18px 15px;
                    color: #bebebe;
                    font-size: 14px;
                    font-weight: 500;
                    display: block;
                }

                    .cover.profile .cover-info .cover-nav > li > a i {
                        font-size: 20px;
                        vertical-align: middle;
                        color: #e4e4e4;
                    }

                .cover.profile .cover-info .cover-nav > li.active > a {
                    background: none;
                    color: #6c6c6c;
                }

                    .cover.profile .cover-info .cover-nav > li.active > a i {
                        color: #6c6c6c;
                    }

                .cover.profile .cover-info .cover-nav > li > a:hover {
                    background: none;
                    color: #6c6c6c;
                    text-decoration: none;
                }

                    .cover.profile .cover-info .cover-nav > li > a:hover i {
                        color: #6c6c6c;
                    }

@media (max-width: 992px) {
    .cover.profile .wrapper .image {
        padding-right: 120px;
        height: auto;
        position: relative;
    }

    .cover.profile .wrapper .friends {
        position: absolute;
        right: 0;
        width: 120px;
        height: auto;
    }

        .cover.profile .wrapper .friends > li {
            width: 50%;
        }

    .cover.profile .cover-info {
        height: 37px;
    }

        .cover.profile .cover-info .avatar {
            left: 10px;
            margin-bottom: 3px;
        }

            .cover.profile .cover-info .avatar img {
                width: 70px;
                height: 70px;
            }

        .cover.profile .cover-info .name {
            left: 100px;
            margin-bottom: 40px;
        }

            .cover.profile .cover-info .name a {
                font-size: 24px;
            }

        .cover.profile .cover-info .cover-nav {
            left: 85px;
        }

            .cover.profile .cover-info .cover-nav li {
                border-right: 1px solid #e2e9e6;
                border-left: 1px solid transparent;
            }

            .cover.profile .cover-info .cover-nav > li > a {
                padding: 8px 10px;
            }
}

@media (max-width: 768px) {
    .cover.profile .cover-info {
        background: #fff;
        clear: both;
        height: auto;
    }

        .cover.profile .cover-info .avatar {
            position: relative;
            left: 10px;
            display: inline-block;
            margin-top: 5px;
            margin-bottom: 6px;
        }

            .cover.profile .cover-info .avatar img {
                width: 45px;
                height: 45px;
            }

        .cover.profile .cover-info .name {
            display: inline-block;
            position: relative;
            margin-bottom: 0;
            left: 10px;
            top: 3px;
        }

            .cover.profile .cover-info .name a {
                color: #212121;
                font-size: 18px;
            }

        .cover.profile .cover-info .cover-nav {
            position: relative;
            margin: 0;
            bottom: 0;
            left: auto;
            float: none;
            padding-left: 0;
            border-top: 1px solid #e2e9e6;
        }

            .cover.profile .cover-info .cover-nav li {
                float: none;
                border-right: 0 !important;
                border-bottom: 1px solid #e2e9e6;
            }
}

.item-img-wrap {
    /* position: relative; */
    text-align: center;
    overflow: hidden;
}

    .item-img-wrap img {
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        width: 100%;
    }

.item-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

    .item-img-overlay span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/zoom.png) no-repeat center center rgba(0, 0, 0, 0.7);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -moz-transition: opacity 250ms linear;
        -o-transition: opacity 250ms linear;
        -webkit-transition: opacity 250ms linear;
        transition: opacity 250ms linear;
    }

.item-img-wrap:hover .item-img-overlay span {
    opacity: 1;
}

.item-img-wrap:hover img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bootstrap-tagsinput {
    width: 100%;
}
/* WORKING LOADER */
#workingLoader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.sk-folding-cube {
    margin: 20px auto;
    margin-top: 25%;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

    .sk-folding-cube .sk-cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        background-color: #8238c5;
    }

        .sk-folding-cube .sk-cube:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333;
            -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

    .sk-folding-cube .sk-cube2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
    }

    .sk-folding-cube .sk-cube3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
    }

    .sk-folding-cube .sk-cube4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
    }

    .sk-folding-cube .sk-cube2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-folding-cube .sk-cube3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .sk-folding-cube .sk-cube4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}